:root {
    background: linear-gradient(to right, #ad5389, #3c1053);
    --white-semi-bg: rgba(255, 255, 255, 0.15);
}

div {
    /* For debugging CSS */
    /* border: thin solid gray; */
    color: white;
}

h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*------------------------- Login Page -------------------------*/

.Login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
} 

.Login-button {
    opacity: 1;
    width: 7em;
    height: 3em;
    
    
}

.Google-icon {
    width: 30px;
    height: 30px;
    justify-content: left;
    padding-left: 10px;
    
}

/*------------------------- Nav Bar -------------------------*/

.Navbar {
    display: grid;
    padding-top: 0.25em;
    grid-template-columns: 3fr 5fr 4fr;
    justify-content: center;
    align-items: center;
}

.Logo-main {
    margin: 0em 1em 0em;
    font-size: 2em;
    font-family: "AnandaRegular";
    color: aqua;
}

.Nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Nav-button {
    padding: 0;
    border: none;
    color: aqua;
    background: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.Nav-clickable {
    transition: transform 0.1s;
}

.Nav-clickable:hover {
    transform: scale(1.05);
}

.Icon-button {
    margin-top: 0;
    color: aqua;
    width: 3em;
}

/*------------------------- Home Page -------------------------*/

.Home-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.Home-box {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    justify-content: center;
    text-align: center;
    min-width: 300px;
    gap: 2em;
}

/* Left Box */

.Pop-list {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.Pop-list > p {
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20em;
    text-align: center;
    list-style: none;
    background-color: var(--white-semi-bg);
    transition: transform 0.15s;
}

.Pop-list > p:hover {
    background: none;
    border: thin solid white;
}

/* Right Box */

.Watch-list {
    display: grid;
    align-items: center;
    gap: 1em;
    padding: 0.35em 2em 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    max-height: 70vh;
    overflow-y: auto;
}

@media (min-width: 400px) {
    .Watch-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 900px) {
    .Watch-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px) {
    .Watch-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.Movie-item {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19rem;
    max-width: 18rem;
    overflow: hidden;
    border: 2px solid lightgray;
    border-radius: 1em;
    background-color: black;
    transition: transform 0.15s;
    z-index: 0;
}

.Movie-item:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(9/16 * 100%);
  }

.Movie-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    gap: 0.5em;
    opacity: 0;
    justify-content: center;
    transition: opacity 0.15s;
}

.Movie-info:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.75);
}

.Movie-item:hover {
    transform: scale(1.05);
}

#title-name {
    font-size: 1em;
}

#title-year {
    font-size: 0.75em;
    color: rgba(255,255,255,0.75);
}

/*------------------------- Search Bar -------------------------*/
.Search-bar {
    width: 100%;
}

.Search-input {
    /* width: 75%; */
    padding: 0.5em 1em;
    border: 1px solid white;
    border-radius: 20em 0px 0px 20em;
    background: var(--white-semi-bg);
    font-size: 1em;
    color: white;
}

.Search-bar #submit-search {
    padding: 0.5em 0.5em 0.5em 0.25em;
    border: 1px solid white;
    border-radius: 0em 20px 20px 0em;
    font-size: 1em;
    font-weight: bold;
}

.Dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1em;
    background-color: white;
    border-radius: 1em;
    margin-top: 0.3em;
    overflow: hidden;
}

.Search-result {
    height: 3.5em;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.05);
}

.Search-result:hover {
    background-color: rgba(255,255,255,0.85);
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox fix */
}

/*------------------------- Chat Page -------------------------*/

.Chat-name-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius: 1em 0 0 1em;
    overflow: hidden;
}

.Chat-list {
    background-color: rgba(255, 255, 255, 0.5);
    height: 79.5vh;
}

.Room-button {
    background-color: white;
    border: none;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    padding: 1em;
}

.Chat-room {
    display: grid;
    grid-template-rows: 10fr 0.1fr;
    justify-items: center;
    /* flex-direction: column; */
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0 1em 1em 0;
    width: 100%;
    height: 89.5vh;
    overflow-y: auto;
}

.ChatRoom-message-sent {
    margin-left: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    background-color: red;
    padding: 0.15em 1.25em;
    margin-top: 0.5em;
    border-radius: 1em;
    width: fit-content;
}

.ChatRoom-message-received {
    font-size: 1.25em;
    background-color: gray;
    padding: 0.25em 1.25em;
    border-radius: 1em;
    width: fit-content;
}

.Msg-list {
    width: 92.5%;
    padding: 0 2em;
}

.Msg-box {
    width: 60vw;
    padding: 0.5em 1em;
    border: 1px solid white;
    border-radius: 20em 0px 0px 20em;
    background: var(--white-semi-bg);
    font-size: 1em;
    color: white;
}

.Send-button {
    padding: 0.5em 2em 0.5em;
    border: none;
    border-radius: 0em 20em 20em 0em;
    font-size: 1em;
}

/*------------------------- Map Page -------------------------*/

.Map-container {
    width: 100%;
    height: 89.5vh;
    border-radius: 1em;
  }